
.tooltip
  white-space: nowrap
  >*
    margin: 0
    &:not(:last-child)
      margin-bottom: 5px

.highlite
  // color: blue
  width: 140px
  height: 60px
  border: 1px solid white
  background-color: #BEDFD2
  display: flex
  align-items: center
  justify-content: center

.paragraph
  display: flex
  justify-content: space-between

.example
  display: flex
  flex-direction: column

.exampleBlock
  margin: 30px
  display: flex
  justify-content: center
